html, body {
    max-width: 100%;
    overflow-x: hidden !important;
}
body {
    margin: 0;
    padding: 0;
    background-color: #373f46;
    font-family: GSans;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
@font-face {
    font-family: "GSans";
    src: url("/src/assets/font.ttf") format(truetype);
    font-weight: normal;
    font-size: normal;
}
h1, h2, h3, h4, h5, h6, p {color: white;}

.alert {
    /*background: #2B3035;*/
    border: none;
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fm {
    margin-left: 350px;
}
.form-button {
    margin-right: 300px !important;
}
#calcResult {
    margin-top: 15px;
    border: 2px solid royalblue;
}
.tools {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn2 {
    margin-left: 5px;
    margin-bottom: 10px;
}
.card {
    margin-right: 15px;
}
.small {
    font-size: small;
}
.abt {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: #394046;
    padding: 8px;
    border-radius: 14px;
    margin: 0;
    z-index: -1;
}
.abt a {color: aqua;}

.nasa-media-container {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: 0 auto;
}
.nasa-media-container img, .nasa-media-container video, .nasa-media-container iframe {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 8px;
}
.nasa-media-container iframe {
    aspect-ratio: 16/9;
    width: 100%;
    border: none;
}

#spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
}
.card-img-top {
    max-width: 250px;
}
#bd-selector .card {
    max-width: 250px;
    padding: 15px !important;
    padding-bottom: 0 !important;
    height: 350px;
}

@media screen and (max-width: 1024px) {
    .fm {
    margin-left: 0px;
    }
    .form-button {
        margin-right: 0px !important;
        margin-left: 0px;
    }
    .alert {
        margin-left: 2%;
        margin-right: 2%;
    }
    .card {
        margin-right: 0px;
    }
    .nasa-media-container {
        max-width: 500px;
        max-height: 500px;
    }
    body {
        background-size: 150%;
        background-position: top;
    }
    #bd-selector .card {
        height: auto;
    }
}